
/* OHCO2 */

table.ohco2_catalogEntry {

}


/* CiteObj */

span.citeobj_propertyDef span, span.citeobj_propertyValue span {
	border: 1px solid navy;
	background-color: #CEE3F6;
	border-radius: 3px;
	padding: 2px 6px 4px 0;
}

span.citeobj_propertyDef span:before, span.citeobj_propertyValue span:before {
	padding: 2px 3px 4px 3px;
	margin-right: 4px;
	color: #CEE3F6;
	background-color: navy;
	border: 1px solid navy;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

span.citeobj_propertyDef_urn {

}

span.citeobj_propertyDef_urn:before {
	content: "prop. urn";
}


span.citeobj_propertyDef_label {

}

span.citeobj_propertyDef_label:before {
	content: "label";
}

span.citeobj_propertyDef_type {

}

span.citeobj_propertyDef_type:before {
	content: "type";
}

span.citeobj_propertyDef_vocab {

}

span.citeobj_propertyDef_vocab:before {
	content: "controlled vocab";
}

span.citeobj_propertyValue_urn:before {
	content: "urn";
}

span.citeobj_propertyValue_value:before {
	content: "value";
}


/* General */

body {
	font: 16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.4em;
	color: #4d4d4d;
	/* width: 550px; */
	margin: 3em;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}